.intro__lists {
    margin: 0;
    padding-left: 148px;
    padding-top: 33px;
}

@media screen and (max-width: 1279px) {
    .intro__lists {
        padding-left: 48px;
    }
}

@media screen and (max-width: 1023px) {
    .intro__lists {
        padding-left: 24px;
    }
}

@media screen and (max-width: 767px) {
    .intro__lists {
        padding-left: 16px;
        padding-top: 34px;
    }
}